.sidebar-nav{
    margin-top: 20px;
    padding: 0;
    list-style: none;
}

#logout-form {
    display: inline;
}

#logout-form button {
    padding: 0;
    margin: 0;
}

body {
    background-color: #222;
    color: #fff;
}

a:hover, button:hover {
    color: #ccc;
}

.sidebar-nav {
    width: 250px;
    color: #fff;
    padding: 20px;
    font-size: large;
}

h1 {
    color: rgb(63, 159, 238);
}

div {
    padding: 2px;
}

.list-group {
    background-color: #222;
}

h2{
    color: rgb(115, 9, 163);
}

.label {
    font-weight: bold;
    color: rgb(0, 158, 40);
}

p{
    padding-top: 1.5%;
}

.page-count {
    font-size: 20px;
    color: #c52186;
}